html
  head
    title!= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet") 
    link(rel="stylesheet" href="../styles/style.css")

  body
    .container.top-container
      img.center-block(src="../images/we-logo-2x.png", height="80")
      h1='Analyzer'
      .jumbotron
        p.text-center='How similar do you look to other groups at this conference?'
      .row
        .col-xs-4.col-xs-offset-4
          .row
            form.center-block(method="post" action="/register")
              .form-group
                label.control-label(for="first_name")='First Name'
                input.form-control.first_name(type="text" id="first_name" name="first_name" placeholder="First Name")
              .form-group
                label.control-label(for="last_name")='Last Name'
                input.form-control.first_name(type="text" id="last_name" name="last_name" placeholder="Last Name")
              .form-group
                label.control-label(for="address")='Address'
                input.form-control.address(type="text" id="address" name="address_line1" placeholder="Address")
              .form-group
                label.control-label(for="city")='City'
                input.form-control.city(type="text" id="city" name="city" placeholder="City")
              .form-group
                label.control-label(for="state")='State'
                input.form-control.state(type="text" id="state" name="state" placeholder="State")
              .form-group
                label.control-label(for="zip")='Zip'
                input.form-control.zip(type="text" id="zip" name="zip" placeholder="Zip")
              .form-group
                  button#register-btn.btn.btn-primary(type="submit" style="width:100%")='See My Scores'
