html
  head
    title!= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet") 
    link(rel="stylesheet" href="../styles/style.css")

  body
    .container.top-container
      img.center-block(src="../images/we-logo-2x.png", height="80")
      h1='Analyzer'
      .jumbotron
        p.text-center="Look-Alike Scores For: "
          b=fullname
          span=" in "+city+", "+state
        h1=marketo_speaker_list  
          small=" Marketo Conference Speaker List"
        div.progress
          div(class='progress-bar', style='width:'+marketo_speaker_list+'%')
      .row
        .col-xs-4
          p
            strong=marketo_employees
            span=" Marketo Employees"
          div.progress
            div(class='progress-bar', style='width:'+marketo_employees+'%')

        .col-xs-4
          p
            strong=marketo_vc_list 
            span=" Top 100 Venture Capitalists"
          div.progress
            div(class='progress-bar', style='width:'+marketo_vc_list+'%')
   
        .col-xs-4
          p
            strong=marketo_high_nw
            span=" High Net Worth"
          div.progress
            div(class='progress-bar', style='width:'+marketo_high_nw+'%')

      .row
        .col-xs-4
          p
            strong=marketo_tesla
            span=" Tesla Car Owners"
          div.progress
            div(class='progress-bar', style='width:'+marketo_tesla+'%')

        .col-xs-4
          p
            strong=marketo_ceo
            span=" CEOs in the US"
          div.progress
            div(class='progress-bar', style='width:'+marketo_ceo+'%')

        .col-xs-4
          p
            strong=marketo_cmo
            span=" CMOs in the US"
          div.progress
            div(class='progress-bar', style='width:'+marketo_cmo+'%')
    .container-fluid(style="height: 100%; position: relative; background: #ddd")
      h1="Marketo Screenshots"

       
