html
  head
    title!= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet") 
    link(rel="stylesheet" href="../styles/style.css")

  body
    .container.top-container
      img.center-block(src="../images/we-mkto-gears.png", width="180")
      .jumbotron
        p.text-center="Look-Alike Scores For: "
          b=fullname
          span=" in "+city+", "+state
        strong.main-score
          i.fa.fa-microphone.icon
          span="Your Score"
          h1=marketo_speaker_list  
          div(style="width: 400px; margin: 0 auto;")
            div.progress
              div(class='progress-bar', style='width:'+marketo_speaker_list+'%')
            div.ticks
              span.pull-left='0'
              span.pull-right='100'  
            span="Marketo Conference Speaker List "
              i.fa.fa-info-circle(data-toggle="popover", data-trigger="hover", data-content="Based off the 2017 Marketo Summit Speaker list", data-placement="right")

      .row
        .col-xs-4
          strong
            i.marketo-icon
            span="Your Score"
            span.score=marketo_employees
            div.progress
              div(class='progress-bar', style='width:'+marketo_employees+'%')
            div.ticks
              span.pull-left='0'
              span.pull-right='100'    
            span=" Marketo Employees "
              i.fa.fa-info-circle(data-toggle="popover", data-trigger="hover", data-content="Based off a list of Marketo employees pulled from WealthEngine's organizational data", data-placement="right")

        .col-xs-4
          strong
            i.fa.fa-money.icon
            span="Your Score"
            span.score=marketo_vc_list 
            div.progress
              div(class='progress-bar', style='width:'+marketo_vc_list+'%')
            div.ticks
              span.pull-left='0'
              span.pull-right='100'
            span=" Top 100 Venture Capitalists "
              i.fa.fa-info-circle(data-toggle="popover", data-trigger="hover", data-content="Based off of a list of the top 100 venture capitalists in 2017", data-placement="right")

        .col-xs-4
          strong
            i.fa.fa-dollar.icon
            span="Your Score"
            span.score=marketo_high_nw
            div.progress
              div(class='progress-bar', style='width:'+marketo_high_nw+'%')
            div.ticks
              span.pull-left='0'
              span.pull-right='100'  
            span=" High Net Worth Individuals "
              i.fa.fa-info-circle(data-toggle="popover", data-trigger="hover", data-content="Based off of a list pulled from WealthEngine of individuals with a net worth >$100M", data-placement="right")

      .row
        .col-xs-4
          strong
            i.fa.fa-car.icon
            span="Your Score"
            span.score=marketo_tesla
            div.progress
              div(class='progress-bar', style='width:'+marketo_tesla+'%')
            div.ticks
              span.pull-left='0'
              span.pull-right='100'
            span=" Tesla Car Owners "
              i.fa.fa-info-circle(data-toggle="popover", data-trigger="hover", data-content="Based off a list pulled from WealthEngine of individuals who own a Tesla", data-placement="right")

        .col-xs-4
          strong
            i.fa.fa-building.icon
            span="Your Score"
            span.score=marketo_ceo
            div.progress
              div(class='progress-bar', style='width:'+marketo_ceo+'%')
            div.ticks
              span.pull-left='0'
              span.pull-right='100'
            span=" CEOs in the US "
              i.fa.fa-info-circle(data-toggle="popover", data-trigger="hover", data-content="Based of a list pulled from WealthEngine's organizational data of CEOs in the US", data-placement="right")

        .col-xs-4
          strong
            i.fa.fa-laptop.icon
            span="Your Score"
            span.score=marketo_cmo
            div.progress
              div(class='progress-bar', style='width:'+marketo_cmo+'%')
            div.ticks
              span.pull-left='0'
              span.pull-right='100'
            span=" CMOs in the US "
              i.fa.fa-info-circle(data-toggle="popover", data-trigger="hover", data-content="Based off a list pulled from WealthEngine's organizational data of CMOs in the US", data-placement="right")

    .container-fluid(style="height: 100%; position: relative; padding:80px 0;")
      img.center-block(src="../images/we-mkto-gears.png", width="260")
      h1="And here's how the data looks within Marketo..."

    .container-fluid(style="background: #fff; height: 1500px; position: relative; border-top: 2px solid #eee;")
      img.center-block(src="../images/marketo-lead-record.png")
      div.marketo-lead-record
        ul.person-info
          li.firstname
            span
            span.score=first_name
          li
            span
            span
          li.last_name
            span
            span.score=last_name
        ul.we-analyze-score-records
          li
            span="Marketo Speakers:"
            span.score=marketo_speaker_list
          li
            span="Marketo Employees:"
            span.score=marketo_employees
          li
            span="Top 100 Venture Capitalists:"
            span.score=marketo_vc_list
          li
            span="High Net Worth Individuals:"
            span.score=marketo_high_nw
          li
            span="Tesla Car Owners:"
            span.score=marketo_tesla
          li
            span="CEOs in the US:"
            span.score=marketo_ceo
          li
            span="CMOs in the US:"
            span.score=marketo_cmo
      

script(src="https://use.fontawesome.com/8ae1c480b5.js")
script(src="https://code.jquery.com/jquery-3.2.1.min.js",
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
        crossorigin="anonymous")
script(src="../scripts/bootstrap.min.js")
script(src="../scripts/script.js")
